{{ form_start(formComm, {'attr': {'class': 'ptk-formAddComment'}}) }}
<div class="lolo">
    {{ form_widget(formComm.content, {'attr': {'class': 'ptk-commentFormWidget'}}) }}
</div>
<div>
<button class="ptk-commentButton">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(formComm) }}
