{{ form_start(form) }}
<div class="lolo">
    {{ form_widget(form.content, {'attr': {'class': 'ptk-commentFormWidget'}}) }}
</div>
<div>
<button class="ptk-commentButton">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
