.ptk-adminContainer{
    display: flex;
    flex-direction: row;
    height: 85vh;
    border: 3px solid $primaryGreen;
    border-radius: 10px;
}

.ptk-adminViewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1050px;
    border-radius: 0 10px 10px 0;
    background: $primaryWhite;
}

.ptk-adminTableGap{
    padding-left: 15px;
    padding-right: 15px;
}

.ptk-adminTitle{
    display: flex;
    justify-content: center;
    color: black;
    background: linear-gradient(180deg, $primaryGrey 55%, $primaryGreen 45%);
}

.ptk-adminViewInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 150px 0 150px;
    overflow-y: auto;
}

.ptk-adminTables{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptk-teamTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

//thead tr{
//    display: flex;
//    justify-content: flex-start;
//}

.ptk-adminTableHeader{
    font-size: 22px;
}

.ptk-adminTableData{
    font-size: 19px;
}

.ptk-teamAddEditContainer{
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;
}

.ptk-adminDataRow{
    border-bottom: 1.5px solid $primaryGreen;
}

.ptk-adminCenter{
    display: inline-list-item;
    justify-content: center;
}

//----------------------- Team section --------------------------------
.ptk-teamListContainer{
    display: flex;
    justify-content: center;
    height: 55%;
    width: 50%;
    overflow-y: auto;
    border-right: 3px solid #a8a8a8;
}


.ptk-teamThead{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.ptk-teamTr{
    display: flex;
    flex-direction: row;
}

.ptk-teamTableData{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 19px;
}

.ptk-teamTitleData{
    display: flex;
    width: 200px;
    margin-right: 15px;
    flex-wrap: wrap;
}

.ptk-teamColorData{
    display: flex;
    align-items: center;
    width: 150px;
    margin-right: 10px;
}

.ptk-teamBttns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ptk-teamColorDiv{
    width: 55px;
    height: 25px;
    border-radius: 3px;
}

.ptk-teamTitleGap{
    display: flex;
    gap: 120px;
}

.ptk-teamTableGap{
    padding-left: 15px;
    padding-right: 85px;
}

.ptk-departmentFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}

//-------------------------- Projects section --------------------------------
.ptk-adminViewContainer{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.ptk-adminViewLabel{
    margin: 0;
    color: $primaryBlue;
    font-size: 25px;
    font-weight: 550;
    span {
        font-weight: normal;
        color: black;
        font-size: 20px;
        margin-left: 15px;
    }
}

.ptk-adminViewContent{
    margin: 0 0 10px 0;
    padding-left: 10px;
    border: 1.5px solid $primaryBlue;
    border-radius: 5px;
    font-family: Rajdhani;
    font-size: 20px;
}

.ptk-adminViewBttnsContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

//-------------------------- Users section --------------------------------
.ptk-adminFormContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
