//start coding by removing this file and adding yours ;)
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
// Primary Colours
$primaryBlue: rgb(0, 66, 191);
$primaryYellow: rgb(255, 195, 23);
$primaryGreen: rgb(6, 192, 127);
$primaryPurple: rgb(192, 15, 255);
$primaryGrey: rgb(226, 226, 226);
$primaryWhite: rgb(255, 255, 255);

// Colour palette
$secondaryPink: rgb(255, 180, 180);
$secondaryYellow: rgb(255, 238, 83);
$secondaryGreen: rgb(116, 255, 84);
$secondaryBlue: rgb(83, 141, 255);
$secondaryPurple: rgb(251, 71, 255);
$secondaryOrange: rgb(255, 146, 46);
$secondaryRed: rgb(255, 46, 46);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
}

//Formulaire Edition Profil

.formUser {
    z-index: 10;
    position: fixed;
    left: 40%;
    top: 40%;
    width: 500px;
    height: 375px;
    margin: 20px;
    border: solid $primaryBlue 2px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey;
}

.formUserTitle {
    display: flex;
    justify-content: center;
}

.formUserTitle h1 {
    background-color: $primaryPurple;
    height: 20px;
    padding: 0 5px 20px 5px;
}

#user div {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.formUserBody form div {
    margin-bottom: 10px;
}

.formUserBody form {
    padding-top: 20px;
}

.formUserBody label {
    color: $primaryBlue;
    font-weight: bold;
    padding-left: 40px;
}

.formUserBody input {
    border: solid 1px $primaryBlue;
    border-radius: 4px;
    color: $primaryBlue;
    height: 30px;
    width: 200px;
    text-align: right;
}

.formUserBody button {
    background-color: $primaryBlue;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
    width: 20%;
    position: absolute;
    top: 80%;
    left: 40%;
}

.formUserClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0;
    font-weight: bold;
    color: $primaryBlue;
    text-decoration: none;
}

// Project Page

.userProfile {
    border: solid $primaryBlue 2px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey;
    position: fixed;
    left: 20%;
    top: 8%;
    width: 1200px;
    background-color: #FFFFFF;
    font-size: 20px;
}
.userProfileTable{
    margin-left: 50px;
}
.userProfileTable tbody{
    display: inline-grid;
    grid-template-columns: repeat(3, 370px [col-start]);
    grid-template-rows: repeat(3, 60px [col-start]);
}

.userProfileCol1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.userProfileCol2 {
    grid-column: 2/3;
    grid-row: auto;
}

.userProfileCol3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.userProfile h1 {
    display: flex;
    justify-content: center;
}

.userProfile th {
    color: $primaryBlue;
    font-size: 20px;
}

.userProfileEdit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0;
    font-weight: bold;
    color: $primaryBlue;
    text-decoration: none;
}
.userShowProjects{
    border-top: #FFFFFF solid 2px;
    color: #FFFFFF;
    width: 25vw;
    position: fixed;
    top: 400px;
    padding-left: 20px;
    font-size: 20px;
}
.projectContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.projectShowContainer{
    position: relative;
    margin-left: 50px;
    border: solid black 2px;
    border-radius: 10px;
    width: 215px;
    height: 145px;
    background-color: $primaryYellow;
}
.projectTitle{
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}
.projectShowCounter img{
    padding-left: 30px;
    padding-top: 5px;
}
.projectShowCounter{
    font-weight: bold;
    color: black;
}
.ideaContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.ideaShowContainer{
    position: relative;
    margin-left: 50px;
    border: solid black 2px;
    border-radius: 10px;
    width: 215px;
    height: 145px;
    background-color: $primaryPurple;
}
.ideaTitle{
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}
.ideaShowCounter img{
    padding-left: 30px;

}
.ideaShowCounter{
    font-weight: bold;
    color: black;
}
@import "navbar.scss";
@import "baseTemplate.scss";
@import "pages.scss";
