//------------------- Base Template -------------------------------------------------------
.ptk-stickyContainer{
    //background: #0042BF;
    //background: -webkit-linear-gradient(bottom, #0042BF, #013DB1);
    //background: -moz-linear-gradient(bottom, #0042BF, #013DB1);
    //background: linear-gradient(to top, #0042BF, #013DB1);
    background-color: $primaryGrey;
    position: sticky;
    top: 0;
    z-index: 2;
}

.ptk-navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100vw;
    border-bottom: 2px solid #003ea8;
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 10px;
    background-color: $primaryBlue;
}

.ptk-headerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100vw;
    background-color: #e1e1e1;
}

.ptk-filtersContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100vw;
    margin: auto;
    //border-top: 2px solid #d2d2d2;
}

.ptk-containerSpaceBetween{
    justify-content: space-between;
}

.ptk-underfiltersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: $primaryGrey;

}

.ptk-modalContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: ease-out 0.2s;
}

.ptk-modalContainerShow{
    opacity: 1;
    z-index: 5;
}

.ptk-bodyContainer{
    position: relative;
    width: 100vw;
    background-color: #F3F3F3FF;
}

//------------------- Admin Base Template -------------------------------------------------------
.ptk-adminBlockContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ptk-adminHeaderContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $primaryBlue;
    width: 100vw;
}

.ptk-adminHeaderTitle{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    color: $primaryWhite;
    padding: 0 5px 0 5px;
    background: linear-gradient(180deg, $primaryBlue 55%, $primaryGreen 45%);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.ptk-adminSideMenuContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 0;
    background-color: $primaryGrey;
    border-bottom: 3px solid $primaryGreen;
    gap: 25px;
}

.ptk-SideMenuLink{
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    font-weight: 550;
    color: $secondaryGrey;
}

.ptk-SideMenuLink:hover{
    color: $primaryGreen;
}

.ptk-adminBodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ptk-adminHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $primaryGrey;
    border-bottom: 2px solid #cbcbcb;
}

.ptk-adminBody{
    margin-top: 15px;
    overflow-y: auto;
    width: 100%;
}
