//------------------- Base Template -------------------------------------------------------
.ptk-stickyContainer{
    //background: #0042BF;
    //background: -webkit-linear-gradient(bottom, #0042BF, #013DB1);
    //background: -moz-linear-gradient(bottom, #0042BF, #013DB1);
    //background: linear-gradient(to top, #0042BF, #013DB1);
    background-color: $primaryGrey;
    position: sticky;
    top: 0;
    z-index: 2;
}

.ptk-navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100vw;
    border-bottom: 2px solid #003ea8;
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 10px;
    background-color: $primaryBlue;
}

.ptk-headerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100vw;
    overflow: hidden;

}

//--------------------- background animation --------------------
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    background: #e1e1e1;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 21vmin;
    height: 21vmin;
    border-radius: 21vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 30;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #ffc317;
    top: 78%;
    left: 50%;
    animation-duration: 96s;
    animation-delay: -15s;
    transform-origin: -14vw 8vh;
    box-shadow: -42vmin 0 6.2112094785437355vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffc317;
    top: 41%;
    left: 29%;
    animation-duration: 202s;
    animation-delay: -20s;
    transform-origin: -20vw -7vh;
    box-shadow: -42vmin 0 5.913324590475923vmin currentColor;
}
.background span:nth-child(2) {
    color: #c00fff;
    top: 56%;
    left: 71%;
    animation-duration: 181s;
    animation-delay: -60s;
    transform-origin: 22vw -8vh;
    box-shadow: -42vmin 0 5.903831013507498vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffc317;
    top: 5%;
    left: 12%;
    animation-duration: 83s;
    animation-delay: -83s;
    transform-origin: 13vw 17vh;
    box-shadow: -42vmin 0 5.9119674709282375vmin currentColor;
}
.background span:nth-child(4) {
    color: #c00fff;
    top: 54%;
    left: 71%;
    animation-duration: 118s;
    animation-delay: -75s;
    transform-origin: 7vw 20vh;
    box-shadow: -42vmin 0 6.089452554087565vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffc317;
    top: 46%;
    left: 23%;
    animation-duration: 102s;
    animation-delay: -135s;
    transform-origin: 23vw -14vh;
    box-shadow: -42vmin 0 5.757170317937792vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffc317;
    top: 87%;
    left: 15%;
    animation-duration: 43s;
    animation-delay: -13s;
    transform-origin: 21vw 16vh;
    box-shadow: -42vmin 0 5.8314457670581525vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffc317;
    top: 66%;
    left: 53%;
    animation-duration: 127s;
    animation-delay: -55s;
    transform-origin: -11vw -9vh;
    box-shadow: -42vmin 0 5.906904219050796vmin currentColor;
}
.background span:nth-child(8) {
    color: #c00fff;
    top: 33%;
    left: 45%;
    animation-duration: 187s;
    animation-delay: -21s;
    transform-origin: 8vw -12vh;
    box-shadow: 42vmin 0 5.987206932681099vmin currentColor;
}
.background span:nth-child(9) {
    color: #c00fff;
    top: 31%;
    left: 5%;
    animation-duration: 143s;
    animation-delay: -4s;
    transform-origin: -14vw -4vh;
    box-shadow: 42vmin 0 6.049376254436705vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffc317;
    top: 60%;
    left: 63%;
    animation-duration: 39s;
    animation-delay: -100s;
    transform-origin: -14vw 18vh;
    box-shadow: -42vmin 0 5.476195729343035vmin currentColor;
}
.background span:nth-child(11) {
    color: #c00fff;
    top: 100%;
    left: 74%;
    animation-duration: 22s;
    animation-delay: -138s;
    transform-origin: -23vw 17vh;
    box-shadow: 42vmin 0 5.692496173753332vmin currentColor;
}
 //------------- end of background animation -------------

.ptk-filtersContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100vw;
    margin: auto;
    padding: 0 5px 0 5px;
}

.ptk-containerSpaceBetween{
    justify-content: space-between;
}

.ptk-underfiltersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: $primaryGrey;

}

.ptk-modalContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: ease-out 0.2s;
}

.ptk-modalContainerShow{
    opacity: 1;
    z-index: 5;
}

.ptk-bodyContainer{
    position: relative;
    width: 100vw;
    background-color: #F3F3F3FF;
}


//------------------- Admin Base Template -------------------------------------------------------
.ptk-adminBlockContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ptk-adminHeaderContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $primaryBlue;
    width: 100vw;
}

.ptk-adminHeaderTitle{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    color: $primaryWhite;
    padding: 0 5px 0 5px;
    background: linear-gradient(180deg, $primaryBlue 55%, $primaryGreen 45%);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.ptk-adminSideMenuContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 0;
    background-color: $primaryGrey;
    border-bottom: 3px solid $primaryGreen;
    gap: 25px;
}

.ptk-SideMenuLink{
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    font-weight: 550;
    color: $secondaryGrey;
}

.ptk-SideMenuLink:hover{
    color: $primaryGreen;
}

.ptk-adminBodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ptk-adminHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $primaryGrey;
    border-bottom: 2px solid #cbcbcb;
}

.ptk-adminBody{
    margin-top: 15px;
    overflow-y: auto;
    width: 100%;
}
