//------------------- Base Template -------------------------------------------------------
.ptk-stickyContainer{
    position: sticky;
    top: 0;
    z-index: 2;
}

.ptk-navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: $primaryBlue;
    font-size: 20px;
    width: 100vw;
}

.ptk-headerContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: $primaryBlue;
    width: 100vw;
}

.ptk-filtersContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: $primaryBlue;
    width: 100vw;
    margin: auto;
}

.ptk-containerSpaceBetween{
    justify-content: space-between;
}

.ptk-underfiltersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: $primaryGrey;
}

.ptk-bodyContainer{
    width: 100vw;
}






//------------------- Base Template -------------------------------------------------------
//.ptk-baseContainer {
//    display: grid;
//    grid-template-columns: 25vw 75vw;
//    grid-template-rows: 8vh 92vh;
//}
//
//.ptk-navbarContainer{
//    grid-area: navbar;
//    grid-column-start: 1;
//    grid-column-end: last-line;
//    grid-row-start: 1;
//    grid-row-end: 2;
//    background-color: $primaryWhite;
//}
//
//.ptk-sideContainer{
//    grid-area: sideBlock;
//    grid-column-start: 1;
//    grid-column-end: 2;
//    grid-row-start: 1;
//    grid-row-end: last-line;
//    background-color: $primaryBlue;
//
//    .ptk-logo{
//        margin: 0;
//        margin-left: 20px;
//        font-style: normal;
//        font-weight: 700;
//        font-size: 3rem;
//        line-height: 61px;
//        display: flex;
//        align-items: center;
//        text-align: center;
//        letter-spacing: 0.15em;
//        color: $primaryWhite;
//    }
//}
//
//.ptk-blockContainer{
//    grid-area: centreBlock;
//    grid-column-start: 2;
//    grid-column-end: last-line;
//    grid-row-start: 2;
//    grid-row-end: last-line;
//    background-color: $primaryGrey;
//}

//------------------- Page Container -------------------------------------------------------
//.ptk-bodyContainer{
//    position: absolute;
//    top: 8vh;
//    left: 0;
//    width: 100%;
//    height: 92vh;
//}
