.ptk-formAddComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ptk-commentFormWidget {
    border: 1.5px solid $primaryBlue;
    border-radius: 5px;
    height: 40px;
    width: 750px;
    font-family: Rajdhani;
    font-size: 20px;
    resize: none;
}

.ptk-commentButton {
    display: flex;
    margin: auto;
    padding: 5px 15px;
    border-radius: 5px;
    border-color: $primaryBlue;
    background-color: $primaryBlue;
    cursor: pointer;
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 15px;
    color: $primaryWhite;
}

.ptk-commentButton:hover {
    opacity: 0.8;
}
