//---------------------- CSS for generic forms ---------------------------------
.ptk-formBlock {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.ptk-formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 660px;
    width: 600px;
    padding: 15px 25px 25px 25px;
    background-color: $primaryGrey;
    border: 3px solid $secondaryGrey;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 0;
    transition: ease-in 0.2s;
}

.ptk-formContainerShow {
    opacity: 1;
}

.ptk-formCloseContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.ptk-formCloseBttn{
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}

.ptk-formTitleContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ptk-formTitle{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    font-weight: 550;
    width: 10ch;
    background: linear-gradient(180deg, $primaryGrey 55%, $primaryYellow 45%);
}

.ptk-formRow {
    display: flex;
    flex-direction: column;
}

.ptk-formLabels {
    color: $primaryBlue;
    font-size: 25px;
    font-weight: 550;
}

.ptk-formTitleInput{
    border: 1.5px solid $secondaryGrey;
    border-radius: 5px;
    height: 30px;
    font-family: Rajdhani;
    font-size: 20px;
}

.ptk-formContentInput{
    display: flex;
    flex-wrap: wrap !important;
    word-break: break-word !important;
    border: 1.5px solid $secondaryGrey;
    border-radius: 5px;
    height: 200px;
    font-family: Rajdhani;
    font-size: 20px;
    overflow-y: auto;
    resize: none;
}

.ptk-formHiddenRows{
    display: none;
}

.ptk-formBttnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.ptk-formBttns {
    padding: 10px 25px;
    border-radius: 5px;
    border-color: $primaryBlue;
    background-color: $primaryBlue;
    cursor: pointer;
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 15px;
    color: $primaryWhite;
}

.ptk-formCloseBttn:hover{
    opacity: 0.8;
}

.ptk-formBttns:hover {
    opacity: 0.8;
}

.ptk-formContainerMargins{
    margin-bottom: 30px;
}

.ptk-formIdeaColours{
    gap: 15px;
    font-size: 20px;
}

//--------------------------------- CSS for Category forms ---------------------------------
.ptk-teamFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.ptk-teamFormTitleContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ptk-teamFormTitle{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 30px;
    font-weight: 550;
    width: 10ch;
    background: linear-gradient(180deg, $primaryWhite 55%, $primaryYellow 45%);
    text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
                1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
}

.ptk-teamEditTitle{
    margin: 0;
    span {
        color: $primaryBlue;
    }
}

.ptk-teamForm{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.ptk-teamFormTitleInput{
    padding:0 10px 0 10px;
    border: 1.5px solid $secondaryGrey;
    border-radius: 5px;
    height: 30px;
    font-family: Rajdhani;
    font-size: 20px;
}

.ptk-teamFormColor{
    font-family: Rajdhani;
    font-size: 20px;
}

.ptk-teamFormTitleUnderline{
    margin: 0;
}

.ptk-teamFormRow {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}

.ptk-teamFormLabels {
    color: $primaryBlue;
    font-size: 25px;
    font-weight: 550;
    width: 70%;
}

.ptk-teamBttnsFlex{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ptk-teamBttnsContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
