.formLogin {
    position: relative;
    width: 400px;
    height: 370px;
    background-color: $primaryGrey;
    border: solid $secondaryGrey 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    padding: 15px;
    font-size: 20px;
    opacity: 0;
    z-index: -1;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
}

.formLoginError {
    position: relative;
    width: 400px;
    height: 370px;
    background-color: $primaryGrey;
    border: solid $secondaryGrey 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    padding: 15px;
    font-size: 20px;
    opacity: 1;
    z-index: 5;
}

.formLoginShow {
    opacity: 1;
    z-index: 5;
}

.formCloseContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.formCloseLink{
    cursor: pointer;
}

.formLoginTitle {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
}

.formLoginTitle h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: $primaryPurple;
    color: black;
    display: block;
    padding: 0 10px 0 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.formLoginTitle h1:nth-child(2) {
    position: absolute;
    background-color: $primaryGrey;
    color: black;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent "bleed" in Chrome
}

.formLoginBody form div {
    margin-bottom: 10px;
}

.formLoginBody form {
    padding: 30px;
}

.formLoginBody label {
    color: $primaryBlue;
    font-weight: bold;
}

.formLoginBody input {
    border: solid 1px $primaryBlue;
    border-radius: 4px;
    color: $primaryBlue;
    height: 30px;
    width: 300px;
    text-align: right;
}

#formLoginCheckbox {
    width: 40px;
    height: auto;
}

.formLoginLink {
    margin-left: 40px;
}

.ptk-loginErrorModalContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb($secondaryGrey, 0.5);
    z-index: 5;
}

.loginBtnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

//@media screen and (max-width: 480px) {
//    .ptk-baseContainer {
//        background-image: url("../images/loginMobile.png");
//        background-position: center;
//    }
//    .ptk-navbarContainer, .ptk-sideContainer, .ptk-blockContainer, .formLoginTitle, .formLoginLink, #formLoginCheckbox, .formTextCheckbox  {
//        display: none;
//    }
//
//    .formLogin {
//        border: none;
//        box-shadow: none;
//        left: 5%;
//        top: 30%;
//    }
//
//    .formLoginBody label {
//        color: $primaryWhite;
//        font-weight: bold;
//    }
//
//    .formLoginBody label {
//        font-size: 40px;
//    }
//
//    .formLoginBody input {
//        width: 300px;
//        height: 50px;
//    }
//    .formLoginRememberMe label {
//        font-size: 25px;
//    }
//
//
//    .formLoginLink a {
//        color: $primaryWhite;
//    }
//    .formLoginBody button {
//        background-color: $primaryWhite;
//        color: $primaryBlue;
//        border-radius: 5px;
//        width: 60%;
//        height: 15%;
//        left: 15%;
//        margin-top: 80px;
//        font-weight: bolder;
//        font-size: 30px;
//    }
//}
