.ptk-navbarLogoContainer{
    background-color: $primaryBlue;
    width: calc(100% / 3);
}

.ptk-searchContainer{
    display: flex;
    justify-content: center;
    background-color: $primaryBlue;
    width: calc(100% / 3);
}

.ptk-expandMenuContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $primaryBlue;
    width: calc(100% / 3);
    gap: 30px;
}

.ptk-logo{
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: $secondaryPurple;
}

.ptk-navbarLinks{
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 550;
    color: $secondaryPurple;
}

.ptk-navbarContainer a:hover{
    color: $secondaryYellow;
}

.ptk-navbarLinks:hover{
    color: $secondaryYellow;
}

.inputSearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryBlue;
}

.inputSearchBar input{
    border: 2px solid $primaryBlue;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: lighter;
    padding: 5px 10px 5px 10px;
}

.btnSearchBar{
    font-size: 24px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.ptk-navbarLinksContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    width: 0;
    gap: 30px;
    overflow: hidden;
    transition: 0.4s ease-out;
}

.ptk-expand-menu-checkbox{
    display: none;
}

.ptk-menuLabel{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ptk-expand-menu-checkbox:checked~.ptk-navbarLinksContainer{
    width: 230px;
}

.ptk-expandArrow{
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    transition: 0.4s ease;
}

.ptk-expand-menu-checkbox:checked ~ .ptk-menuLabel .ptk-expandArrow{
    transform: rotate(180deg);
}
