.ptk-navbarContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #B0413E;
    margin-left: 100px;
    font-size: 24px;
}

.ptk-navbarContainer a{
    text-decoration: none;
}
