.ptk-navbarLogoContainer{
    width: calc(100% / 3);
}

.ptk-searchContainer{
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
}

.ptk-expandMenuContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% / 3);
    gap: 30px;
}

.ptk-logo{
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: $secondaryPurple;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0 8px 13px rgba(0,0,0,0.1),
    0 18px 23px rgba(0,0,0,0.1);
}

.ptk-navbarLinks{
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 550;
    color: $secondaryPurple;
}

.ptk-linksHover {
    background-image: linear-gradient(
            transparent calc(65% - 5px),
            darken($primaryBlue, 10%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.2s ease;
    color: $secondaryPurple;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
    0 8px 10px rgba(0,0,0,0.1);
}

.ptk-linksHover:hover {
    text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
    1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
    background-size: 100%;
    color: $secondaryYellow;
}

.ptk-linksHover:hover .ptk-dropDownLabel{
    color: $secondaryYellow;
}

.inputSearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryBlue;
}

.inputSearchBar input{
    border: 2px solid $primaryBlue;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: lighter;
    padding: 5px 10px 5px 10px;
}

.btnSearchBar{
    font-size: 24px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.ptk-navbarLinksContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    width: 0;
    gap: 30px;
    overflow: hidden;
    transition: 0.4s ease-out;
}

//-------------------- dropdown nav menu --------------------
.ptk-navDropDownBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 65%;
}

.ptk-navDropDownbtn {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 10px 5px;
    gap: 10px;
    background-color: transparent;
    color: $secondaryPurple;
    font-size: 1.3rem;
    font-family: Rajdhani;
    font-weight: 550;
    height: 100%;
    min-width: 100px;
    cursor: pointer;
    border: none;
}

.ptk-navDropDownLabel{
    color: white;
}

.ptk-navDropdownDatatype {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    horiz-align: right;
    width: calc(100% / 3);
    height: 100%;
}

.ptk-navDropdownContent {
    margin-top: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $primaryBlue;
    min-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 1;
    border-radius: 0 0 15px 15px;
}
.ptk-navDropdownContent a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    color: $secondaryPurple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.ptk-navDropdownDatatype a:hover {
    color: $secondaryYellow;
}

.ptk-navDropDownbtn:hover {
    color: $secondaryYellow;
}

.ptk-navDropdownDatatype:hover .ptk-navDropdownContent {
    display: block;
}

//.ptk-navDropdownDatatype:hover .ptk-navDropDownbtn {
//    background-color: $primaryBlue;
//}
