.ptk-titleBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .ptk-titleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1100px;
        height: 160px;
        border: 5px solid $primaryWhite;
        border-radius: 10px;

        .ptk-titleHeader{
            font-style: normal;
            font-weight: 700;
            font-size: 65px;
            color: $primaryWhite;
            text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
            1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
        }
    }
}

.ptk-underTitleBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .ptk-createProjectContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 25px;

        #ptk-addProjectIcon{
            margin: 0;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 25px;
            background: $primaryBlue;
            font-size: 35px;
            color: $primaryWhite;
        }

        #ptk-createProjectBttn{
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.15em;
            color: $primaryBlue;
            text-decoration: none;
        }
    }
}

.ptk-filterBlock{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .ptk-filterContainer{
        margin-right: 20px;

        .ptk-filterBttns{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: $primaryBlue;
            text-decoration: None;
        }
    }
}

.ptk-cardsBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    margin: 10px;

    .ptk-categoryContainer {
        margin-right: 10px;


        .ptk-category {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            color: $primaryWhite;

        }
    }

    .ptk-cardsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 200px;
        padding: 0 18px 18px 0;

        .ptk-cardsLink{
            text-decoration: none;
        }

        .ptk-cards {
            position: relative;
            margin-left: 50px;
            border-radius: 10px;
            width: 215px;
            height: 145px;
            text-decoration: none;

            .ptk-cardTitleContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 95px;
                width: 215px;
                background-color: $primaryWhite;
                border-radius: 10px 10px 0 0;

                .ptk-cardTitle{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    color: $primaryWhite;
                    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
                    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
                }
            }

            .ptk-cardStatsContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 215px;
                background-color: $secondaryYellow;
                border-radius: 0 0 10px 10px;

                .ptk-cardIcons{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                }

                .ptk-cardStats{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    .ptk-cardStatsNo{
                        margin: 0;
                        color: black;
                    }
                }
            }

        }
    }
    .ptk-cardsContainer:hover {
        overflow-x: auto;
        padding:0;
    }

}
