.ptk-titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptk-titleHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    color: $primaryWhite;
    width: 7ch;
    background: linear-gradient(180deg, $primaryBlue 55%, $primaryPurple 45%);
}

.ptk-underTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ptk-addProjectIcon{
    margin: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background: $primaryPurple;
    font-size: 35px;
    color: $primaryGrey;
}

#ptk-createProjectLink{
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: $primaryGrey;
    text-decoration: none;
}

.ptk-filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 20px;
}

.ptk-filterLinks{
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    color: $primaryGrey;
}

.ptk-filterLinks:hover {
    background-color: $primaryYellow;
    border-radius: 15px 15px;
}

.ptk-blockDescription{
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $secondaryGrey;
}

.ptk-cardsBlock{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    overflow-y: auto;
}

.ptk-categorySection{
    display: flex;
    flex-direction: Row;
    align-items: center;
}

.ptk-categoryContainer {
    margin-right: 10px;
    width: 180px;
}

.ptk-category {
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $secondaryGrey;
}

.ptk-leftRightBttn{
    background-color: transparent;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}

.ptk-arrowBttn{
    width: 30px;
    aspect-ratio: 1/1;
}

.rightBttn{
    transform: rotate(180deg);
}

.ptk-cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    width: 100%;
    height: 200px;
    padding: 0 15px 0 15px;
    cursor: grab;
}

.ptk-cardsLink{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ptk-cards {
    position: relative;
    border-radius: 10px;
    width: 215px;
    height: 155px;
    text-decoration: none;
    background-color: $primaryWhite;
    transition: transform .2s;
}

.ptk-cardMarginRight{
    margin-right: 25px;
}

.ptk-cards:hover{
    transform: scale(1.05);
}

.ptk-cardTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95px;
    width: 215px;
    background-color: $primaryWhite;
    border-radius: 10px 10px 0 0;
}

.ptk-cardTitle{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: black;
}

.ptk-cardStatsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 215px;
    background-color: $primaryWhite;
    border-radius: 0 0 10px 10px;
}

.ptk-cardIconStats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptk-cardStatsNo{
    margin: 0;
    color: black;
}

//-------------------------------- Project page ------------------------------------------------------
.ptk-ideaTitleHeader{
    margin: 0;
    padding: 0 5px 0 5px;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
    background: linear-gradient(180deg, $primaryBlue 55%, $primaryYellow 45%);
    text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
                1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
}

.ptk-underTitleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 50px 0 50px;
    width: 100%;
}

.ptk-projectContent{
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

.ptk-createdAtContainer{
    width: 50%;
}

.ptk-createdAt{
    display: inline-block;
    margin: 0;
    margin-left: 15px;
    font-weight: 550;
    font-size: 20px;
    color: $primaryGrey;
}

.ptk-addIdeaContainer{
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ptk-addIdeaIcon{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background: $primaryBlue;
    font-size: 30px;
    color: $primaryWhite;
    text-decoration: none;
    transition: transform .2s;
}

.ptk-addIdea{
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primaryBlue;
}

.ptk-cardIdeaTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95px;
    border-radius: 10px 10px 0 0;
}

.ptk-cardIdeaTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    color: black;
}

.ptk-ideaCardsBlock{
    display: flex;
    flex-direction: row;
    height: 53%;
    width: 98%;
    margin: 10px 10px 0 10px;
}

.ptk-ideaCardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 25px 25px 25px;
    height: 100%;
    width: 100%;
}

.ptk-ideaCards {
    position: relative;
    border-radius: 10px;
    width: 225px;
    height: 155px;
    text-decoration: none;
    background-color: $primaryWhite;
    transition: transform .2s;
}

.ptk-ideaCards:hover {
    transform: scale(1.05);
}

.ptk-cardIdeaStatsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

.ptk-ideaCardIconStats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptk-ideaInfoIcons{
    width: 17px;
    height: 17px;
}

.ptk-ideaStatsNo{
    margin: 0;
}

//-------------------------------- Profile page ------------------------------------------------------
.ptk-profileContainer{
    position: relative;
    height:200px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}

.ptk-profileTitleContainer{
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
}

.ptk-profileHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 5px 0 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    color: $primaryWhite;
    background: linear-gradient(180deg, $primaryWhite 55%, $primaryPurple 45%);
    text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
    1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
}

.ptk-profileDetailsContainer{
    display: flex;
    flex-direction: row;
}

.ptk-profileDetailsLeft{
    height: 100%;
    width: 50%;
}

.ptk-profileDetailsRight{
    height: 100%;
    width: 50%;
}

.ptk-profileDetailsRow{
    display: flex;
    flex-direction: row;
}

.ptk-profileLabels{
    margin: 0 0 10px 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    color: $primaryBlue;
    width: 125px;
}

.ptk-profileLabelsR{
    margin: 0 0 10px 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    color: $primaryBlue;
    width: 60px;
}

.ptk-profileDetails{
    margin: 0 0 10px 10px;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
}

.ptk-editProfileIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    aspect-ratio: 1/1;
}

.ptk-profileCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 200px;
}

.ptk-profileCardTypeLabel{
    margin: 0;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    color: #adadad;
}

//.ptk-titleBlock{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    width: 100%;
//
//    .ptk-titleContainer{
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 70vw;
//        height: 160px;
//        padding: 25px;
//        border: 5px solid $primaryWhite;
//        border-radius: 10px;
//        background-image: url(../images/ideaRocket.jpg);
//        background-size: cover;
//        background-repeat: no-repeat;
//
//        .ptk-titleHeader{
//            font-style: normal;
//            font-weight: 700;
//            font-size: 40px;
//            color: $primaryWhite;
//            text-shadow: 2px 0 $primaryBlue, -2px 0 $primaryBlue, 0 2px $primaryBlue, 0 -2px $primaryBlue,
//            1px 1px $primaryBlue, -1px -1px $primaryBlue, 1px -1px $primaryBlue, -1px 1px $primaryBlue;
//        }
//    }
//}
//
//.ptk-underTitleBlock{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    margin: 10px 0 10px 0;
//    padding: 0 50px 0 50px;
//    width: 100%;
//
//    .ptk-projectContent{
//        margin: 0;
//        font-size: 20px;
//    }
//
//    .ptk-createProjectContainer{
//        display: flex;
//        flex-direction: row;
//        justify-content: space-around;
//        align-items: center;
//        transition-duration: 0.2s;
//
//        #ptk-addProjectIcon{
//            margin: 0;
//            margin-right: 10px;
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            width: 35px;
//            height: 35px;
//            border-radius: 25px;
//            background: $primaryBlue;
//            font-size: 35px;
//            color: $primaryWhite;
//        }
//
//        #ptk-createProjectBttn{
//            font-style: normal;
//            font-weight: 700;
//            font-size: 36px;
//            display: flex;
//            align-items: center;
//            text-align: center;
//            letter-spacing: 0.15em;
//            color: $primaryBlue;
//            text-decoration: none;
//        }
//    }
//}
//
//.ptk-createProjectContainer:hover {
//    background-color: $primaryYellow;
//    border-radius: 15px 15px;
//}
//
//.ptk-filterBlock{
//    display: flex;
//    flex-direction: row;
//    justify-content: flex-end;
//    width: 100%;
//
//    .ptk-filterContainer{
//        margin-right: 20px;
//
//        .ptk-filterBttns{
//            font-style: normal;
//            font-weight: 600;
//            font-size: 20px;
//            color: $primaryBlue;
//            text-decoration: None;
//        }
//    }
//}
//
//.ptk-filterBttns:hover {
//    background-color: $primaryYellow;
//    border-radius: 15px 15px;
//}
//
//.ptk-createdAt{
//    display: inline-block;
//    margin: 0;
//    margin-left: 15px;
//    font-weight: 550;
//    font-size: 20px;
//    color: $primaryGrey;
//}
//
//.ptk-ideaCardsBlock{
//    display: flex;
//    flex-direction: row;
//    height: 53%;
//    width: 98%;
//    margin: 10px 10px 0 10px;
//
//}
//
//.ptk-ideaCardsContainer{
//    display: flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//    width: 90%;
//    overflow-y: auto;
//}
//
//.ptk-cardsBlock{
//    display: flex;
//    flex-direction: column;
//    height: 65%;
//    width: 98%;
//    margin: 10px;
//    overflow-y: auto;
//}
//
////------------------------------- Custom scrollbar for cards block --------------------------------
//.ptk-cardsBlock::-webkit-scrollbar-track
//{
//    background-color: $primaryGrey;
//}
//
//.ptk-cardsBlock::-webkit-scrollbar
//{
//    width: 10px;
//    background-color: #F5F5F5;
//}
//
//.ptk-cardsBlock::-webkit-scrollbar-thumb
//{
//    background-color: #d2d2d2;
//}
//
//.ptk-cardsBlock::-webkit-scrollbar-thumb:hover
//{
//    background-color: #989898;
//}
//
//.ptk-categorySection{
//    display: flex;
//    flex-direction: Row;
//    align-items: center;
//}
//
//.ptk-categoryContainer {
//    margin-right: 10px;
//    width: 180px;
//}
//
//.ptk-leftRightBttn{
//    background-color: transparent;
//    box-shadow: none;
//    border: 0;
//    cursor: pointer;
//}
//
//.ptk-arrowBttn{
//    width: 30px;
//    aspect-ratio: 1/1;
//}
//
//.rightBttn{
//    transform: rotate(180deg);
//}
//
//.ptk-category {
//    overflow-wrap: break-word;
//    font-style: normal;
//    font-weight: 700;
//    font-size: 30px;
//    color: $primaryWhite;
//}
//
//.ptk-cardsContainer {
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    overflow-x: auto;
//    overflow-y: hidden;
//    scrollbar-gutter: stable;
//    width: 100%;
//    height: 200px;
//    padding: 0 18px 18px 0;
//    cursor: grab;
//}
//
//.ptk-cardsLink{
//    text-decoration: none;
//}
//
//.ptk-cards {
//    position: relative;
//    margin-left: 50px;
//    border-radius: 10px;
//    width: 215px;
//    height: 155px;
//    text-decoration: none;
//    background-color: $primaryWhite;
//    transition: transform .2s;
//}
//
//.ptk-cards:hover{
//    transform: scale(1.05);
//}
//
//.ptk-ideaCards {
//    position: relative;
//    margin-left: 50px;
//    border-radius: 10px;
//    width: 225px;
//    height: 155px;
//    text-decoration: none;
//    background-color: $primaryWhite;
//    transition: transform .2s;
//}
//
//.ptk-ideaCards:hover {
//    transform: scale(1.05);
//}
//
//.ptk-cardTitleContainer{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    text-align: center;
//    height: 95px;
//    width: 215px;
//    background-color: $primaryWhite;
//    border-radius: 10px 10px 0 0;
//}
//
//.ptk-cardIdeaTitleContainer{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    text-align: center;
//    height: 95px;
//    border-radius: 10px 10px 0 0;
//}
//
//.ptk-cardTitle{
//    margin: 0;
//    font-style: normal;
//    font-weight: 500;
//    font-size: 24px;
//    color: black;
//}
//
//.ptk-cardIdeaTitle{
//    font-style: normal;
//    font-weight: 500;
//    font-size: 20px;
//    padding: 5px;
//    color: black;
//}
//
//.ptk-cardStatsContainer{
//    display: flex;
//    flex-direction: row;
//    justify-content: space-around;
//    align-items: center;
//    height: 65px;
//    width: 215px;
//    background-color: $primaryWhite;
//    border-radius: 0 0 10px 10px;
//}
//
//.ptk-cardIdeaStatsContainer{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    height: 50px;
//    border-radius: 0 0 10px 10px;
//}
//
//.ptk-cardIconStats{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//}
//
//.ptk-ideaCardIconStats{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//}
//
//.ptk-cardIcons{
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//}
//
//.ptk-ideaInfoIcons{
//    width: 17px;
//    height: 17px;
//}
//
//.ptk-ideaStatsNo{
//    margin: 0;
//}
//
//.ptk-cardStats{
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//    gap: 45px;
//}
//
//.ptk-cardStatsNo{
//    margin: 0;
//    color: black;
//}
//
//.ptk-addIdeaBlock{
//    display: flex;
//    align-items: flex-end;
//    height: 100%;
//}
//
//#ptk-ideaCat{
//    margin: 0;
//    font-size: 40px;
//    color: $primaryWhite;
//}
//
//#ptk-addIdeaIcon{
//    margin: 0;
//    margin-right: 10px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    width: 60px;
//    height: 60px;
//    border-radius: 30px;
//    background: $primaryBlue;
//    font-size: 50px;
//    color: $primaryWhite;
//    text-decoration: none;
//    transition: transform .2s;
//}
//
//#ptk-addIdeaIcon:hover {
//    background: $primaryWhite;
//    color: $primaryBlue;
//    transform: scale(1.5);
//}
//
//.ptk-formHiddenElement{
//    display: none;
//}
//
//.archive-button {
//    border-radius: 10px;
//    border-color: $primaryBlue;
//    background-color: $primaryBlue;
//    cursor: pointer;
//    font-family: Rajdhani;
//    font-weight: 600;
//    font-size: 15px;
//    color: $primaryWhite;
//    margin-left: 1vh;
//    align-self: end;
//}
//
//.ptk-project-archived {
//    color: red;
//    display: flex;
//    justify-content: center;
//}



