.mobile-container {
    display: none;
}

.ptk-Charts {
    display: none;
}

.ptk-mobileNavbar {
    display: none;
}

.ptk-mobileFooter {
    display: none;
}

.ptk-titleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.ptk-titleHeader {
    font-size: 4.5rem;
    font-weight: 700;
    background-color: $primaryPurple;
    color: white;
    display: block;
    padding: 0 10px 0 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.ptk-titleHeader:nth-child(2) {
    position: absolute;
    background-color: #013DB1;
    color: white;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent "bleed" in Chrome
}

.ptk-underTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ptk-createProject{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

#ptk-createProject:hover{
    color: $primaryYellow;
    transform: scale(1.05);
}

#ptk-addProjectIcon{
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background: $primaryPurple;
    font-size: 35px;
    color: $primaryGrey;
}

#ptk-createProjectLink{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: $primaryGrey;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    text-decoration: none;
}

#ptk-createProjectLink:hover {
    color: $secondaryYellow;
}

.ptk-filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 20px;
    gap: 10px;
}

.ptk-filterLinks{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    color: $secondaryPurple;
}

.ptk-filterSeparators{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    color: $secondaryGrey;
}


.ptk-filterLinks:hover {
    color: $secondaryYellow;
}

.ptk-blockDescription{
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $secondaryGrey;
}

.ptk-cardsBlock{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ptk-categorySection{
    display: flex;
    flex-direction: Row;
    align-items: center;
}

.ptk-categoryContainer {
    margin-right: 10px;
    width: 180px;
}

.ptk-category {
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $secondaryGrey;
}

.ptk-homeCategoryBttns{
    width: 30px;
}

.ptk-leftRightBttn{
    display: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}

.ptk-arrowBttn{
    width: 30px;
    aspect-ratio: 1/1;
}

.rightBttn{
    transform: rotate(180deg);
}

.showButtons{
    display: unset;
}

.ptk-cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    width: 100%;
    height: 200px;
    padding: 0 15px 0 15px;
    cursor: grab;
    transition: 0.5s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ptk-cardsContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ptk-cardsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ptk-cardsLink{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ptk-cards {
    position: relative;
    border-radius: 10px;
    width: 215px;
    height: 155px;
    text-decoration: none;
    background-color: $primaryWhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .2s;
}

.ptk-cardMarginRight{
    margin-right: 25px;
}

.ptk-cards:hover{
    transform: scale(1.05);
}

.ptk-cardTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95px;
    width: 215px;
    background-color: $primaryWhite;
    border-radius: 10px 10px 0 0;
}

.ptk-cardTitle{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 20px;
    color: $secondaryGrey;
}

.ptk-cardStatsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 215px;
    background-color: $primaryWhite;
    border-radius: 0 0 10px 10px;
}

.ptk-cardIconStats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ptk-cardStatsNo{
    margin: 0;
    color: black;
}

.ptk-modalShow{
    cursor: pointer;
}

//-------------------------------- Project page ------------------------------------------------------
.ptk-projectTitleHeader {
    ffont-size: 2.5rem;
    font-weight: 700;
    background-color: $primaryPurple;
    color: black;
    display: block;
    padding: 0 5px 0 10px;
}

.ptk-projectTitleHeader:nth-child(2) {
    position: absolute;
    background-color: #e1e1e1;
    color: black;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent "bleed" in Chrome
}

.ptk-underTitleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 50px 0 50px;
    width: 100%;
}

.ptk-projectContent{
    margin: 0;
    color:$secondaryGrey;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    //text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
    //0px 8px 13px rgba(0,0,0,0.2),
    //0px 18px 23px rgba(0,0,0,0.2);
}

.ptk-createdAtContainer{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 10px;
}

.ptk-createdAt{
    display: inline-block;
    margin: 0;
    margin-left: 15px;
    font-weight: 550;
    font-size: 20px;
    color: #a9a9a9;
}

.ptk-createdAtContent{
    display: inline-block;
    margin: 0;
    font-weight: 550;
    font-size: 20px;
    color: #a9a9a9;
}

.ptk-addIdeaContainer{
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform .2s;
}

.ptk-addIdeaContainer:hover{
    transform: scale(1.05);
}

#ptk-addIdeaIcon{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background: $primaryBlue;
    font-size: 30px;
    color: $primaryWhite;
    text-decoration: none;
}

.ptk-addIdea{
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primaryBlue;
}

.ptk-ideaNoDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ptk-noDataTitle{
    color: #bbbbbb;
}

.ptk-cardIdeaTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95px;
    border-radius: 10px 10px 0 0;
}

.ptk-cardIdeaTitle{
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding: 5px;
    color: $secondaryGrey;
    overflow-wrap: anywhere;
}

.ptk-ideaCardsBlock{
    display: flex;
    flex-direction: row;
    height: 53%;
    width: 98%;
    margin: 10px 10px 0 10px;
}

.ptk-ideaCardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px 25px 25px 25px;
    height: 100%;
    width: 100%;
    gap: 40px;
    transition: 0.3s ease-in-out;
}

.ptk-ideaCards {
    position: relative;
    border-radius: 10px;
    width: 225px;
    height: 155px;
    text-decoration: none;
    background-color: $primaryWhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .2s;
}

.ptk-ideaCards:hover {
    transform: scale(1.05);
}

.ptk-profileCardContainer:hover .ptk-profileCardTypeLabel{
    color: #a1a1a1;
}

.ptk-cardIdeaStatsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

.ptk-ideaCardIconStats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ptk-ideaInfoIcons{
    width: 17px;
    height: 17px;
}

.ptk-ideaStatsNo{
    margin: 0;
}

.ptk-linksContainer{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

.archive-button{
    background: transparent;
    border: none;
    z-index: 1;
}

//-------------------------------- Profile page ------------------------------------------------------
.ptk-profileContainer{
    position: relative;
    height:200px;
    width: 700px;
    background-color: $primaryGrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
    border-radius: 15px;
}

.ptk-profileTitleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.ptk-profileHeader {
    font-size: 2.9rem;
    font-weight: 700;
    background-color: $primaryPurple;
    color: $secondaryBlue;
    display: block;
    padding: 0 10px 0 10px;
    text-shadow: 0 4px 3px rgba(0,0,0,0.5),
    0 8px 13px rgba(0,0,0,0.2),
    0 18px 23px rgba(0,0,0,0.2);
}

.ptk-profileHeader:nth-child(2) {
    position: absolute;
    background-color: $primaryGrey;
    color: $secondaryBlue;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent "bleed" in Chrome
}

.ptk-profileDetailsContainer{
    display: flex;
    flex-direction: row;
}

.ptk-profileDetailsLeft{
    height: 100%;
    width: 50%;
}

.ptk-profileDetailsRight{
    height: 100%;
    width: 50%;
}

.ptk-profileDetailsRow{
    display: flex;
    flex-direction: row;
}

.ptk-profileLabels{
    margin: 0 0 5px 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    color: darken($primaryBlue, 15);
    width: 125px;
}

.ptk-profileLabelsR{
    margin: 0 0 5px 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5rem;
    color: darken($primaryBlue, 15);
    width: 60px;
}

.ptk-profileDetails{
    margin: 0 0 5px 10px;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
}

.ptk-editProfileIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.ptk-profileCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.ptk-profileCardTypeLabel{
    margin: 0 0 5px 0;
    font-style: normal;
    font-weight: 550;
    font-size: 1.3rem;
    color: $primaryGrey;
    transition: 0.5s ease-out;
}

.ptk-userFilterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.ptk-filterDataType{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.ptk-filtersOrderBy{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 20px;
    gap: 10px;
}

.ptk-ptk-dropDownbtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 65%;
}

.ptk-dropDownbtn {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 10px 5px;
    gap: 10px;
    background-color: $primaryBlue;
    color: $secondaryPurple;
    font-size: 1.3rem;
    font-family: Rajdhani;
    font-weight: 550;
    height: 100%;
    width: 255px;
    cursor: pointer;
    border: none;
}

.ptk-dropDownLabel{
    color: white;
}

.ptk-dropdownDatatype {
    margin-left: 15px;
    position: relative;
    display: inline-block;
    height: 100%;
}

.ptk-dropdownContent {
    margin-top: 15px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 255px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.ptk-dropdownContent a {
    font-size: 1.3rem;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.ptk-dropdownDatatype a:hover {
    background-color: #d2d2d2;
}

.ptk-dropDownbtn:hover {
    color: $secondaryYellow;
}

.ptk-dropdownDatatype:hover .ptk-dropdownContent {
    display: block;
}

.ptk-dropdownDatatype:hover .ptk-dropDownbtn {
    background-color: $primaryBlue;
}

//------------------------------------ Idea page ----------------------------------------
.ptk-ideaTitleHeader {
    ffont-size: 2.5rem;
    font-weight: 700;
    background-color: $primaryYellow;
    color: black;
    display: block;
    padding: 0 5px 0 10px;
}

.ptk-ideaTitleHeader:nth-child(2) {
    position: absolute;
    background-color: #e1e1e1;
    color: black;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent "bleed" in Chrome
}

.ptk-ideaUnderContentContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ptk-ideaCardStatsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    //height: 65px;
    width: 215px;
    border-radius: 0 0 10px 10px;
}

.ptk-ideaHeaderContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ptk-ideaCommentsSection{
    padding: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.ptk-ideaCommentsContainer{
    height: 100%;
    width: 100%;
}

.ptk-ideaCommentsByUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.ptk-commentUserComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.ptk-commentUserDate{
    display: flex;
    flex-direction: column;
}

.ptk-ideaCommentUser{
    font-family: Roboto, sans-serif;
    font-size: clamp(15px, 1vw, 20px);
    color: $secondaryBlue;
    width: 200px;
}

.ptk-ideaComments{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: $secondaryGrey;
    font-size: clamp(15px, 1vw, 20px);
    width: 100%;
}

.ptk-commentBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.ptk-commentModifyImg{
    width: 17px;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.ptk-ideaPostCommentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

.ptk-ideaPostCommentContainer p{
    margin: 0 20px 0 0;
    font-size: 1.5rem;
}

.commentsTitleContainer{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    gap: 5px;
}

.ptk-editProfileModalLink{
    background-color: transparent;
    z-index: 1;
}
