.ptk-projectFormBlock {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 97vw;

    .ptk-projectFormContainer {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 50vw;
        padding: 15px 50px 50px 50px;
        background-color: $primaryWhite;
        border: 3px solid $primaryYellow;
        border-radius: 10px;

        .ptk-projectFormCloseContainer{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 0;

            .ptk-projectFormCloseBttn{
                font-size: 20px;
                font-weight: 550;
                text-decoration: none;
            }
        }

        .ptk-projectFormTitleContainer{
            display: flex;
            justify-content: center;
            width: 100%;

            .ptk-projectFormTitle{
                display: flex;
                justify-content: center;
                margin: 0;
                font-size: 40px;
                font-weight: 550;
                width: 10ch;
                background: linear-gradient(180deg, $primaryWhite 55%, $primaryYellow 45%);
            }
        }

        .ptk-formRow {
            display: flex;
            flex-direction: column;

            .ptk-formLabels {
                color: $primaryBlue;
                font-size: 25px;
                font-weight: 550;
            }

            .ptk-formTitleInput{
                border: 1.5px solid $primaryBlue;
                border-radius: 5px;
                height: 30px;
                font-family: Rajdhani;
                font-size: 20px;
            }

            .ptk-formContentInput{
                display: flex;
                flex-wrap: wrap !important;
                word-break: break-word !important;
                border: 1.5px solid $primaryBlue;
                border-radius: 5px;
                height: 150px;
                font-family: Rajdhani;
                font-size: 20px;
                overflow-y: auto;
                resize: none;
            }
        }

        .ptk-formBttnsContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            width: 100%;

            .ptk-formBttns {
                padding: 10px 25px;
                border-radius: 5px;
                border-color: $primaryBlue;
                background-color: $primaryBlue;
                cursor: pointer;
                font-family: Rajdhani;
                font-weight: 600;
                font-size: 15px;
                color: $primaryWhite;
            }

        }
    }
}

.ptk-formContainerMargins{
    margin-bottom: 30px;
}
