
.ptk-resultsBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;;
    overflow-y: auto;
}

.ptk-resultsLinks {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    color: $primaryPurple;
}

.ptk-resultsLinks:hover {
    color:$primaryBlue;
}
