<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    <title>
        {% block title %}Partake{% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body style="position: relative">
<div class="ptk-landingContainer">
    <div class="ptk-landingButton">
        <button type="button">
            <a class="ptk-loginModalShow">LOGIN</a>
        </button>
    </div>
    <div class="ptk-loginModalContainer">
        {% include '/login/index.html.twig' %}
    </div>
    <div class="ptk-loaderContainer loader-hidden" id="ptk-loaderContainer">
        <div class="loaderContainer">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            let modals = document.querySelectorAll(".ptk-loginModalContainer");
            let showModalsLink = document.querySelectorAll(".ptk-loginModalShow");
            let hideModalsLink = document.querySelectorAll(".formCloseLink");
            let formLoad = document.querySelectorAll(".formLogin");
            // let formClose = document.querySelectorAll(".ptk-formBttns");

            hideModalsLink.forEach((hlink, index) => {
                hlink.addEventListener("click", function(e) {
                    modals[0].classList.remove("ptk-loginModalContainerShow");
                    formLoad[0].classList.remove("formLoginShow");
                    console.log(hlink);
                });
            })

            showModalsLink.forEach((link, index) => {
                link.addEventListener("click", function(e) {
                    modals[0].classList.add("ptk-loginModalContainerShow");
                    formLoad[0].classList.add("formLoginShow");
                    console.log(link);
                });
            })

            let ptkClicked = document.querySelectorAll(".ptk-loader");
            let ptkBtns = document.querySelectorAll(".ptk-bttns");
            let ptksmlBtns = document.querySelectorAll(".ptk-smlBttns");
            const preloader = document.getElementById('ptk-loaderContainer');
            // ----------- loader -----------------
            ptkBtns.forEach((clicked, index) => {
                clicked.addEventListener("click", function(e) {
                    console.log(clicked);
                    preloader.classList.remove('loader-hidden');
                });
            })
            ptksmlBtns.forEach((clicked, index) => {
                clicked.addEventListener("click", function(e) {
                    console.log(clicked);
                    preloader.classList.remove('loader-hidden');
                });
            })
            ptkClicked.forEach((clicked, index) => {
                clicked.addEventListener("click", function(e) {
                    console.log(clicked);
                    preloader.classList.remove('loader-hidden');
                });
            })

            function loader ()
            {
                preloader.classList.remove('loader-hidden');
            }
        </script>
    {% endblock %}
</div>
</body>
</html>
