{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block body %}
    {% include '/_includes/_navbar.html.twig' %}
    <div class="formUser">
        <div class="formUserTitle">
            <h1>Edit Profile</h1>
        </div>
        <div class="formUserBody">
            {{ include('user/_form.html.twig', {'button_label': 'Save'}) }}
        </div>
        <a href="{{ path('app_user_index') }}" class="formUserClose">X</a>
    </div>
{% endblock %}
